* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* For Game Logic Delete*/
.restart-btn {
  display: none;
}
/* ----------------------------------- */

.landing-page {
  /* display: none; */

  div {
    border: 1px solid red;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.game-logic-container {
  display: none;
}
