* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-page {
  display: block;

  div {
    border: 1px solid red;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.game-logic-container {
  display: none;
}

.new-game-btn {
  display: none;
}
